language: perl
perl:
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq desktop-file-utils
install:
  - cpanm --quiet File::BaseDir File::DesktopEntry Path::Tiny Test::Pod Test::Pod::Coverage Test::CPAN::Changes
